In [2]:
import pandas as pd
import json
import requests

In [3]:
df = pd.read_csv('Class_Codes.csv', encoding='cp1252')
df.sample(10)

,Course Code,Course Number,Titles
1768,EEE,458,Business Plan Laboratory
3184,LIT,423,Italian Cinema: 1945 to Present
2998,ITA,421,Patterns of Modernity in 20th Century Italian ...
2449,HOA,470,Experience Credit
1866,ETS,182,Race and Literary Texts
796,CER,327,Clay & Glaze Technology
3953,PNO,325,Piano Instruction
3229,MAE,536,Composite Materials
633,BIO,455,Physiology Laboratory
3094,LAS,425,Post-colonialism and Philosophy

In [ ]:
len(df)

In [4]:
#Course_Code = input('Enter a 3 letter class code: ').upper()
course = input('Enter a 3 letter code here: ')
for col in list(df):
    df[col] == course
    course_code = df[df[col] == course]
    print (course_code)

Enter a 3 letter code here: HST
     Course Code Course Number  \
2575         HST           100
2576         HST           101
2577         HST           102
2578         HST           111
2579         HST           112
2580         HST           121
2581         HST           122
2582         HST           145
2583         HST           180
2584         HST           200
2585         HST           201
2586         HST           208
2587         HST           209
2588         HST           210
2589         HST           211
2590         HST           213
2591         HST           214
2592         HST           222
2593         HST           231
2594         HST           232
2595         HST           270
2596         HST           280
2597         HST           290
2598         HST           295
2599         HST           296
2600         HST           300
2601         HST           301
2602         HST           302
2603         HST           303
2604         HST           304
...          ...           ...
2706         HST           412
2707         HST           413
2708         HST           414
2709         HST           415
2710         HST           416
2711         HST           417
2712         HST           420
2713         HST           422
2714         HST           424
2715         HST           426
2716         HST           434
2717         HST           441
2718         HST           443
2719         HST           444
2720         HST           445
2721         HST           447
2722         HST           449
2723         HST           451
2724         HST           452
2725         HST           453
2726         HST           454
2727         HST           457
2728         HST           470
2729         HST           480
2730         HST           490
2731         HST           495
2732         HST           496
2733         HST           499
2734         HST           500
2735         HST           510

                                                 Titles
2575                                    Selected Topics
2576                           American History to 1865
2577                        American History Since 1865
2578                     Early Modern Europe, 1350-1815
2579             Modern Europe: Napoleon to the Present
2580                             Global History to 1750
2581                     Global History 1750 to Present
2582             Introduction to Historical Archaeology
2583                               International Course
2584                                    Selected Topics
2585                        Research Seminar in History
2586                Middle East Since the Rise of Islam
2587                                 Modern Middle East
2588                                  The Ancient World
2589                    Medieval and Renaissance Europe
2590                      Africa: Ancient Times to 1800
2591                      Modern Africa: 1800 - Present
2592                      History of American Sexuality
2593                                    English History
2594                                    English History
2595                                  Experience Credit
2596                               International Course
2597                                  Independent Study
2598       The Development of Air Power: First 50 Years
2599  The Development of Air Power: 1947 to the Present
2600                                    Selected Topics
2601                  Practicum in the Study of History
2602                             Early American History
2603                 The Age of the American Revolution
2604                       Age of Jefferson and Jackson
...                                                 ...
2706                   Understanding 20th Century Spain
2707  China Encounters the West: Qing Dynasty to Ear...
2708                     America: A Foreign Perspective
2709         Europe, Russia and the Eastern Borderlands
2710                           Europe and Arc of Crises
2711                          History of Women in Spain
2712  The East Asian Century? Opportunities and Chal...
2713                          Ethnic History of Britain
2714  Dictatorships, Human Rights, and Historical Me...
2715                     African American Urban History
2716                               Underground Railroad
2717           Europe and International Security Issues
2718        Culture, Confucianism and Chinese Modernity
2719  Culture, Business and Political Economics in E...
2720  Contemporary British Politics and the Modern W...
2721        France from the Revolution to the Great War
2722  France from the Treaty of Versailles to Europe...
2723  Visual Culture Past and Present: Gender, Relig...
2724         Italy: Past, Present and Future Challenges
2725                           Twentieth Century Europe
2726            Family and Gender in Contemporary Italy
2727    Gender, Politics, Society in Europe (1400-1800)
2728                                  Experience Credit
2729                               International Course
2730                                  Independent Study
2731                      Distinction Thesis in History
2732                      Distinction Thesis in History
2733                            Honors Capstone Project
2734                                    Selected Topics
2735                Studies in African American History

[161 rows x 3 columns]
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []

In [5]:
number = input('Enter a number code here: ')
for col in list(df):
    df[col] == number
    course_number = df[df[col] == number]
    print (course_number)

Enter a number code here: 101
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []
     Course Code Course Number  \
0            AAA           101
312          ARC           101
381          ARI           101
467          ART           101
495          ASC           101
512          ASL           101
515          AST           101
655          BPS           101
719          CAR           101
745          CAS           101
898          CHI           101
1037         COM           101
1061         COU           101
1222         DES           101
1469         DSP           101
1563         ECN           101
1618         ECS           101
1698         EDU           101
2053         FND           101
2069         FRE           101
2251         GER           101
2301         GRE           101
2345         HEB           101
2353         HIN           101
2574         HSH           101
2576         HST           101
2912         IST           101
2977         ITA           101
3014         JPS           101
3065         KOR           101
3116         LAT           101
3150         LIT           101
3451         MSL           101
3720         PAF           101
3899         PHY           101
3963         POL           101
3967         POR           101
4029         PRS           101
4338         REL           101
4477         RUS           101
4507         SAS           101
4579         SIS           101
4581         SOC           101
4691         SPA           101
4757         SPM           101
4798         STS           101
4802         STT           101
4803         SWA           101
4905         TRK           101
5086         WGS           101

                                                Titles
0         Introduction to Asian/Asian-American Studies
312                            The Art of Architecture
381            First Year Studio 1: Rotation and Focus
467                              First Year Colloquium
495                                     Leadership Lab
512                           American Sign Language I
515                         Our Corner of the Universe
655   Introduction to Science, Technology, and Society
719    Introduction to 3D Animation and Visual Effects
745                                   First Year Forum
898                                          Chinese I
1037       Practical Grammar for Public Communications
1061        Developmental Issues of College Age Adults
1222                                   Design Concepts
1469                Introduction to Disability Studies
1563                       Introductory Microeconomics
1618  Introduction to Engineering and Computer Science
1698                                  First Year Forum
2053                   Beginning Drawing for Nonmajors
2069                                          French I
2251                                          German I
2301                                   Ancient Greek I
2345                                          Hebrew I
2353                                      Hindi/Urdu I
2574                                First-Year Gateway
2576                          American History to 1865
2912                                  First-Year Forum
2977                                         Italian I
3014                                        Japanese I
3065                                          Korean I
3116                                           Latin I
3150              Introduction to Classical Literature
3451                        Leadership and Development
3720  An Introduction to the Analysis of Public Policy
3899                       Major Concepts of Physics I
3963                                          Polish I
3967                                      Portuguese I
4029                                         Persian I
4338                            Religions of the World
4477                                         Russian I
4507                                      Hindi/Urdu I
4579                                SIS Freshman Forum
4581                         Introduction to Sociology
4691                                         Spanish I
4757                Personal and Social Responsibility
4798  Introduction to Science, Technology, and Society
4802                        Introduction to Statistics
4803                                       Kiswahili I
4905                                         Turkish I
5086        Introduction to Women’s and Gender Studies
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []

In [6]:
df = pd.read_csv('Class_Codes.csv', encoding='cp1252')
df["Course"] = df["Course Code"] +' '+ df["Course Number"]
print (df)

     Course Code Course Number  \
0            AAA           101
1            AAA           200
2            AAA           300
3            AAA           307
4            AAA           380
5            AAS           112
6            AAS           138
7            AAS           200
8            AAS           202
9            AAS           206
10           AAS           207
11           AAS           213
12           AAS           214
13           AAS           231
14           AAS           232
15           AAS           233
16           AAS           234
17           AAS           235
18           AAS           241
19           AAS           254
20           AAS           290
21           AAS           300
22           AAS           302
23           AAS           303
24           AAS           304
25           AAS           305
26           AAS           306
27           AAS           307
28           AAS           309
29           AAS           310
...          ...           ...
5197         WRT           302
5198         WRT           303
5199         WRT           307
5200         WRT           308
5201         WRT           320
5202         WRT           331
5203         WRT           340
5204         WRT           401
5205         WRT           402
5206         WRT           413
5207         WRT           417
5208         WRT           419
5209         WRT           422
5210         WRT           423
5211         WRT           424
5212         WRT           425
5213         WRT           426
5214         WRT           427
5215         WRT           428
5216         WRT           430
5217         WRT           436
5218         WRT           437
5219         WRT           438
5220         WRT           440
5221         WRT           447
5222         WRT           470
5223         WRT           495
5224         WRT           496
5225         WRT           499
5226         WRT           500

                                                 Titles   Course
0          Introduction to Asian/Asian-American Studies  AAA 101
1                                       Selected Topics  AAA 200
2                                       Selected Topics  AAA 300
3             Asian Americans and Social Stratification  AAA 307
4                                  International Course  AAA 380
5              Introduction to African American Studies  AAS 112
6                           Writing About Black Culture  AAS 138
7                                       Selected Topics  AAS 200
8                  Caribbean Society Since Independence  AAS 202
9                Introduction to African American Music  AAS 206
10                            A Survey of African Music  AAS 207
11                        Africa: Ancient Times to 1800  AAS 213
12                        Modern Africa: 1800 - Present  AAS 214
13    African American Literature to 1900: An Introd...  AAS 231
14    African American Literature: Twentieth and Twe...  AAS 232
15                                  The Caribbean Novel  AAS 233
16                                      African Fiction  AAS 234
17                               African American Drama  AAS 235
18                   African Religions: An Introduction  AAS 241
19     Comparative Study of American Ethnic Communities  AAS 254
20                                    Independent Study  AAS 290
21                                      Selected Topics  AAS 300
22                Contemporary African American Theater  AAS 302
23                                  Black Women Writers  AAS 303
24                    Workshop:African American Theater  AAS 304
25                                      African Orature  AAS 305
26                            African American Politics  AAS 306
27                                African Women Writers  AAS 307
28    Race, Gender and Sexuality in the African Dias...  AAS 309
29                       Elements of Theater Production  AAS 310
...                                                 ...      ...
5197           Advanced Writing Studio: Digital Writing  WRT 302
5198      Advanced Writing Studio: Research and Writing  WRT 303
5199      Advanced Writing Studio: Professional Writing  WRT 307
5200                     Advanced Writing Studio: Style  WRT 308
5201                                 Writing Enrichment  WRT 320
5202                  Peer Writing Consultant Practicum  WRT 331
5203                            Advanced Editing Studio  WRT 340
5204  Advanced Workshop in Technical Communications:...  WRT 401
5205  Advanced workshop in Technical Communication: ...  WRT 402
5206                                Rhetoric and Ethics  WRT 413
5207                Technical Documentation & Usability  WRT 417
5208                Advanced Technical Writing Workshop  WRT 419
5209                     Studies in Creative Nonfiction  WRT 422
5210                          African American Rhetoric  WRT 423
5211             Studies in Writing, Rhetoric, Identity  WRT 424
5212                                 Digital Identities  WRT 425
5213  Studies in Writing, Rhetoric, and Information ...  WRT 426
5214  Emerging Technologies in Professional & Techni...  WRT 427
5215      Studies in Composition, Rhetoric and Literacy  WRT 428
5216        Advanced Experience in Writing Consultation  WRT 430
5217                               Feminist Rhetoric(s)  WRT 436
5218                    Rhetoric and Information Design  WRT 437
5219                       Advanced Creative Nonfiction  WRT 438
5220    Studies in the Politics of Language and Writing  WRT 440
5221  Professional & Technical Writing in Global Con...  WRT 447
5222                                  Experience Credit  WRT 470
5223                          Senior Research Seminar I  WRT 495
5224                         Senior Research Seminar II  WRT 496
5225                            Honors Capstone Project  WRT 499
5226                                    Selected Topics  WRT 500

[5227 rows x 4 columns]

In [9]:
df = pd.read_csv('Class_Codes.csv', encoding='cp1252')
df["Course"] = df["Course Code"] + ' '+ df["Course Number"] 
schedule = []
dictionary = {'Class Schedule':schedule}

for Class in df['Course']:
    Class = input('Enter a class to enroll in: ')
    if Class == 'Done':
        break
        Final_Schedule
        
    schedule.append(Class)

Final_Schedule = pd.DataFrame(dictionary)
Final_Schedule

Enter a class to enroll in: IST 101
Enter a class to enroll in: IST 344
Enter a class to enroll in: HOA 101
Enter a class to enroll in: SPA 101
Enter a class to enroll in: BIO 105
Enter a class to enroll in: Done

  Class Schedule
0        IST 101
1        IST 344
2        HOA 101
3        SPA 101
4        BIO 105