In [2]:
import pandas as pd
import json
import requests

In [6]:
df = pd.read_csv('Class_Codes.csv', encoding='cp1252')
df.sample(10)

     Course Code Course Number                               Titles
495          ASC           101                       Leadership Lab
1145         CRS           551    History of British Public Address
4919         TRM           451                 TransMedia Synthesis
1750         EEE           110  Discovering the Entrepreneur Within
4392         REL           309                 Early Christianities
513          ASL           102            American Sign Language II
1691         EDI           380                 International Course
2537         HOM           571                Popular Music Studies
1007         CLR           246                Clarinet/Music Majors
4244         PSY           490                    Independent Study

In [15]:
len(df)

5227

In [27]:
#Course_Code = input('Enter a 3 letter class code: ').upper()
course = input('Enter a 3 letter code here: ')
for col in list(df):
    df[col] == course
    a = df[df[col] == course]
    print (a)

IST
     Course Code Course Number  \
2912         IST           101
2913         IST           180
2914         IST           195
2915         IST           200
2916         IST           233
2917         IST           256
2918         IST           263
2919         IST           280
2920         IST           300
2921         IST           322
2922         IST           323
2923         IST           325
2924         IST           332
2925         IST           335
2926         IST           336
2927         IST           337
2928         IST           341
2929         IST           343
2930         IST           344
2931         IST           345
2932         IST           346
2933         IST           352
2934         IST           359
2935         IST           363
2936         IST           371
2937         IST           387
2938         IST           400
2939         IST           402
2940         IST           407
2941         IST           414
...          ...           ...
2947         IST           443
2948         IST           447
2949         IST           448
2950         IST           449
2951         IST           452
2952         IST           453
2953         IST           455
2954         IST           456
2955         IST           462
2956         IST           466
2957         IST           469
2958         IST           471
2959         IST           472
2960         IST           475
2961         IST           476
2962         IST           476
2963         IST           479
2964         IST           486
2965         IST           487
2966         IST           490
2967         IST           499
2968         IST           500
2969         IST           502
2970         IST           503
2971         IST           511
2972         IST           523
2973         IST           556
2974         IST           558
2975         IST           564
2976         IST           585

                                                 Titles
2912                                   First-Year Forum
2913                               International Course
2914                           Information Technologies
2915                                    Selected Topics
2916                Introduction to Computer Networking
2917    Application Programming for Information Systems
2918          Introduction to Front-End Web Development
2919                               International Course
2920                                    Selected Topics
2921           Digital Strategy & Analytics for the Web
2922               Introduction to Information Security
2923                Information Management Consultation
2924           Digital Strategy & Analytics for the Web
2925    Introduction to Information-Based Organizations
2926             Leading Issues in Information Security
2927                             IM&T Support Practicum
2928                                  User-Based Design
2929                                    Data in Society
2930             Information Reporting and Presentation
2931              Managing Information Systems Projects
2932  Information Technology Management and Administ...
2933     Information Analysis of Organizational Systems
2934        Introduction to Database Management Systems
2935                      Advanced Front End Web Design
2936  Career Development Skills for Information Prof...
2937               Introduction to Applied Data Science
2938                                    Selected Topics
2939                                  Digital Forensics
2940                                        Data Mining
2941                                Data Driven Inquiry
...                                                 ...
2947                    Critique of the Information Age
2948            Complex issues in IT Project Management
2949           Enterprise Wireless Network Technologies
2950                         Human Computer Interaction
2951                       Advanced Computer Networking
2952                     Telecommunications Regulations
2953                         Enterprise IT Consultation
2954           Information Policies and Decision Making
2955                        Scripting for Data Analysis
2956                       Prof Issues/Info Mgmt & Tech
2957  Advanced Data Administration Concepts and Data...
2958  Internship in Information Management and Techn...
2959  Cooperative Education in Information Managemen...
2960                         Full Stack Web Development
2961                       Applied Information Security
2962                       Applied Information Security
2963                   Electronic Commerce Technologies
2964                   Social Media in the Organization
2965                          Modern Web Infrastructure
2966                                  Independent Study
2967                            Honors Capstone Project
2968                                    Selected Topics
2969               New Directions in Academic Libraries
2970         Proposal Writing for the Information Field
2971  Introduction to the Library and Information Pr...
2972                         Graphic Design for the Web
2973                            Mobile Network Services
2974             Technologies in Web Content Management
2975  Library & Information Services to Students wit...
2976                               Knowledge Management

[65 rows x 3 columns]
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []

In [28]:
number = input('Enter a number code here: ')
for col in list(df):
    df[col] == number
    a = df[df[col] == number]
    print (a)

Enter a number code here: 256
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []
     Course Code Course Number  \
697          BTB           256
2012         FIN           256
2562         HRP           256
2822         ILL           256
2917         IST           256
3480         MTC           256
4253         PTG           256
4840         SXP           256

                                               Titles
697                                 Tuba/Music Majors
2012                            Principles of Finance
2562                                 Harp Instruction
2822                    Intro to Digital Illustration
2917  Application Programming for Information Systems
3480                                   Composition II
4253                                   Figure Drawing
4840                           Saxophone/Music Majors
Empty DataFrame
Columns: [Course Code, Course Number, Titles]
Index: []

In [36]:
schedule = []
if schedule == schedule:
    course = input('Enter a 3 letter code here: ')
    number = input('Enter a number code here: ')
    Class = course + number
    schedule.append(Class)
if course == 'Done':
    print(scehdule)
        break

IndentationError: unexpected indent (<ipython-input-36-ff33c4feeeb8>, line 9)