In [2]:
import pandas as pd
import json
import requests
import numpy

In [3]:
df = pd.read_csv('Class_Codes.csv', encoding='cp1252')
df.sample(10)

,Course Code,Course Number,Titles,Day,Time,Location
2919,IST,280,International Course,Friday,4:00-6:48,Whitman
490,ART,531,Professional Practices in Visual Arts,Monday,3:00-5:44,Heroy Geology Building
3955,PNO,329,Performance Honors in Piano,Monday,1:00-3:25,Physics Building
2426,HOA,412,The Gothic Spell,Tuesday,7:00-9:08,Schine
265,ANT,476,"Women, War and Peace",Monday,2:00-4:12,Marshall Square Mall
2437,HOA,440,Women in Art,Wednesday,2:00-4:04,Lyman Hall
4210,PSY,334,Laboratory in Developmental Biopsychology,Monday,2:00-4:01,Crouse-Hinds Hall
2758,HTW,321,Prevention in Addiction Services,Thursday,4:00-6:25,Hall of Languages
2946,IST,442,Agile Project Management Methodologies,Tuesday,3:00-5:52,Schine
1920,ETS,450,Reading Ethnicity,Monday,4:00-6:13,Heroy Geology Building

In [4]:
len(df)

5227

In [5]:
#Course_Code = input('Enter a 3 letter class code: ').upper()
course = input('Enter a 3 letter code here: ')
for col in list(df):
    df[col] == course
    course_code = df[df[col] == course]
    print (course_code)

Enter a 3 letter code here: AAA
  Course Code Course Number                                        Titles  \
0         AAA           101  Introduction to Asian/Asian-American Studies
1         AAA           200                               Selected Topics
2         AAA           300                               Selected Topics
3         AAA           307     Asian Americans and Social Stratification
4         AAA           380                          International Course

         Day       Time           Location
0     Monday  1:00-3:00         Hinds Hall
1    Tuesday  2:00-4:00           Carnegie
2  Wednesday  3:00-5:00  Hall of Languages
3   Thursday  4:00-6:00   Physics Building
4     Friday  5:00-7:00               Falk
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []

In [6]:
number = input('Enter a number code here: ')
for col in list(df):
    df[col] == number
    course_number = df[df[col] == number]
    print (course_number)

Enter a number code here: 123
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
     Course Code Course Number                                   Titles  \
579          BIO           123                       General Biology II
3328         MAX           123  Critical Issues for the United States .
4048         PSC           123      Comparative Government and Politics
4349         REL           123                 Religious Auto/Biography
4509         SAS           123                 Religious Auto/Biography

           Day       Time              Location
579     Friday  1:00-3:57               Whitman
3328  Thursday  2:00-4:21            Hinds Hall
4048  Thursday  3:00-5:38  Marshall Square Mall
4349    Friday  6:00-8:16               Whitman
4509    Friday  4:00-6:18     Crouse-Hinds Hall
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []
Empty DataFrame
Columns: [Course Code, Course Number, Titles, Day, Time, Location]
Index: []

In [7]:
df = pd.read_csv('Class_Codes.csv', encoding='cp1252')
df["Course"] = df["Course Code"] +' '+ df["Course Number"]
print (df)

     Course Code Course Number  \
0            AAA           101
1            AAA           200
2            AAA           300
3            AAA           307
4            AAA           380
5            AAS           112
6            AAS           138
7            AAS           200
8            AAS           202
9            AAS           206
10           AAS           207
11           AAS           213
12           AAS           214
13           AAS           231
14           AAS           232
15           AAS           233
16           AAS           234
17           AAS           235
18           AAS           241
19           AAS           254
20           AAS           290
21           AAS           300
22           AAS           302
23           AAS           303
24           AAS           304
25           AAS           305
26           AAS           306
27           AAS           307
28           AAS           309
29           AAS           310
...          ...           ...
5197         WRT           302
5198         WRT           303
5199         WRT           307
5200         WRT           308
5201         WRT           320
5202         WRT           331
5203         WRT           340
5204         WRT           401
5205         WRT           402
5206         WRT           413
5207         WRT           417
5208         WRT           419
5209         WRT           422
5210         WRT           423
5211         WRT           424
5212         WRT           425
5213         WRT           426
5214         WRT           427
5215         WRT           428
5216         WRT           430
5217         WRT           436
5218         WRT           437
5219         WRT           438
5220         WRT           440
5221         WRT           447
5222         WRT           470
5223         WRT           495
5224         WRT           496
5225         WRT           499
5226         WRT           500

                                                 Titles        Day       Time  \
0          Introduction to Asian/Asian-American Studies     Monday  1:00-3:00
1                                       Selected Topics    Tuesday  2:00-4:00
2                                       Selected Topics  Wednesday  3:00-5:00
3             Asian Americans and Social Stratification   Thursday  4:00-6:00
4                                  International Course     Friday  5:00-7:00
5              Introduction to African American Studies     Monday  6:00-8:00
6                           Writing About Black Culture    Tuesday  7:00-9:00
7                                       Selected Topics  Wednesday  7:00-9:01
8                  Caribbean Society Since Independence   Thursday  7:00-9:02
9                Introduction to African American Music     Friday  1:00-3:01
10                            A Survey of African Music     Monday  2:00-4:01
11                        Africa: Ancient Times to 1800    Tuesday  3:00-5:01
12                        Modern Africa: 1800 - Present  Wednesday  4:00-6:01
13    African American Literature to 1900: An Introd...   Thursday  5:00-7:01
14    African American Literature: Twentieth and Twe...     Friday  6:00-8:01
15                                  The Caribbean Novel     Monday  7:00-9:03
16                                      African Fiction    Tuesday  7:00-9:04
17                               African American Drama  Wednesday  7:00-9:05
18                   African Religions: An Introduction   Thursday  1:00-3:02
19     Comparative Study of American Ethnic Communities     Friday  2:00-4:02
20                                    Independent Study     Monday  3:00-5:02
21                                      Selected Topics    Tuesday  4:00-6:02
22                Contemporary African American Theater  Wednesday  5:00-7:02
23                                  Black Women Writers   Thursday  6:00-8:02
24                    Workshop:African American Theater     Friday  7:00-9:06
25                                      African Orature     Monday  7:00-9:07
26                            African American Politics    Tuesday  7:00-9:08
27                                African Women Writers  Wednesday  1:00-3:03
28    Race, Gender and Sexuality in the African Dias...   Thursday  2:00-4:03
29                       Elements of Theater Production     Friday  3:00-5:03
...                                                 ...        ...        ...
5197           Advanced Writing Studio: Digital Writing  Wednesday  1:00-3:31
5198      Advanced Writing Studio: Research and Writing   Thursday  2:00-4:31
5199      Advanced Writing Studio: Professional Writing     Friday  3:00-5:31
5200                     Advanced Writing Studio: Style     Monday  4:00-6:31
5201                                 Writing Enrichment    Tuesday  5:00-7:31
5202                  Peer Writing Consultant Practicum  Wednesday  6:00-8:31
5203                            Advanced Editing Studio   Thursday  7:00-9:31
5204  Advanced Workshop in Technical Communications:...     Friday  1:00-3:32
5205  Advanced workshop in Technical Communication: ...     Monday  2:00-4:32
5206                                Rhetoric and Ethics    Tuesday  3:00-5:32
5207                Technical Documentation & Usability  Wednesday  4:00-6:32
5208                Advanced Technical Writing Workshop   Thursday  5:00-7:32
5209                     Studies in Creative Nonfiction     Friday  6:00-8:32
5210                          African American Rhetoric     Monday  7:00-9:32
5211             Studies in Writing, Rhetoric, Identity    Tuesday  1:00-3:33
5212                                 Digital Identities  Wednesday  2:00-4:33
5213  Studies in Writing, Rhetoric, and Information ...   Thursday  3:00-5:33
5214  Emerging Technologies in Professional & Techni...     Friday  4:00-6:33
5215      Studies in Composition, Rhetoric and Literacy     Monday  5:00-7:33
5216        Advanced Experience in Writing Consultation    Tuesday  6:00-8:33
5217                               Feminist Rhetoric(s)  Wednesday  7:00-9:33
5218                    Rhetoric and Information Design   Thursday  1:00-3:34
5219                       Advanced Creative Nonfiction     Friday  2:00-4:34
5220    Studies in the Politics of Language and Writing     Monday  3:00-5:34
5221  Professional & Technical Writing in Global Con...    Tuesday  4:00-6:34
5222                                  Experience Credit  Wednesday  5:00-7:34
5223                          Senior Research Seminar I   Thursday  6:00-8:34
5224                         Senior Research Seminar II     Friday  7:00-9:34
5225                            Honors Capstone Project     Monday  1:00-3:35
5226                                    Selected Topics    Tuesday  2:00-4:35

                    Location   Course
0                 Hinds Hall  AAA 101
1                   Carnegie  AAA 200
2          Hall of Languages  AAA 300
3           Physics Building  AAA 307
4                       Falk  AAA 380
5       Marshall Square Mall  AAS 112
6                 Lyman Hall  AAS 138
7                    Whitman  AAS 200
8                     Schine  AAS 202
9     Heroy Geology Building  AAS 206
10               HBC Gifford  AAS 207
11         Crouse-Hinds Hall  AAS 213
12               Dineen Hall  AAS 214
13                Hinds Hall  AAS 231
14                  Carnegie  AAS 232
15         Hall of Languages  AAS 233
16          Physics Building  AAS 234
17                      Falk  AAS 235
18      Marshall Square Mall  AAS 241
19                Lyman Hall  AAS 254
20                   Whitman  AAS 290
21                    Schine  AAS 300
22    Heroy Geology Building  AAS 302
23               HBC Gifford  AAS 303
24         Crouse-Hinds Hall  AAS 304
25               Dineen Hall  AAS 305
26                Hinds Hall  AAS 306
27                  Carnegie  AAS 307
28         Hall of Languages  AAS 309
29          Physics Building  AAS 310
...                      ...      ...
5197             HBC Gifford  WRT 302
5198       Crouse-Hinds Hall  WRT 303
5199             Dineen Hall  WRT 307
5200              Hinds Hall  WRT 308
5201                Carnegie  WRT 320
5202       Hall of Languages  WRT 331
5203        Physics Building  WRT 340
5204                    Falk  WRT 401
5205    Marshall Square Mall  WRT 402
5206              Lyman Hall  WRT 413
5207                 Whitman  WRT 417
5208                  Schine  WRT 419
5209  Heroy Geology Building  WRT 422
5210             HBC Gifford  WRT 423
5211       Crouse-Hinds Hall  WRT 424
5212             Dineen Hall  WRT 425
5213              Hinds Hall  WRT 426
5214                Carnegie  WRT 427
5215       Hall of Languages  WRT 428
5216        Physics Building  WRT 430
5217                    Falk  WRT 436
5218    Marshall Square Mall  WRT 437
5219              Lyman Hall  WRT 438
5220                 Whitman  WRT 440
5221                  Schine  WRT 447
5222  Heroy Geology Building  WRT 470
5223             HBC Gifford  WRT 495
5224       Crouse-Hinds Hall  WRT 496
5225             Dineen Hall  WRT 499
5226              Hinds Hall  WRT 500

[5227 rows x 7 columns]

In [18]:
df["Course"] = df["Course Code"] + ' '+ df["Course Number"] + ' '+ df["Titles"] + ' '+ df["Day"] + ' '+ df["Time"] + ' '+ df["Location"]
schedule = []
titles = df['Titles']
time = df['Time']
day = df['Day']
location = df['Location']
series = pd.Series['Class'[schedule], 'Titles'[titles], 'Day'[day], 'Time'[time], 'Location'[location]]

for Class in df["Course"]:
    Class = input('Enter a class to enroll in: ')
    schedule.append(Class)
    if Class == 'Done':
        break
        Final_Schedule
        

Final_Schedule = pd.DataFrame(series)
Final_Schedule

TypeError: string indices must be integers